* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family-primary;
  font-size: $font-size-default;
  color: $color-text-default;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}