// General
$font-family-primary:   Arial, Helvetica, sans-serif;
$font-size-default:     16px;
$border-radius-default: 4px;

// Neutral colors
$color-white:           #fff;
$color-light-gray:      #ececec;
$color-border:          #bebebe;
$color-text-default:    #52535d;

// Theme colors
$color-primary:         #249164;
$color-secondary:       #6d33ab;